Flask==2.3.3
Jinja2==3.1.4
gunicorn
MarkupSafe==2.1.5
Werkzeug==3.0.4
Cython>=0.29.23
nltk==3.8.1
pandas>=2.0.3
requests==2.32.3
scikit-learn==1.6.1
scipy>=1.10.0
spacy==3.7.2
numpy<2.0
pickleshare==0.7.5
chardet==5.2.0
blis>=0.7.9,<0.8.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
